<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.dao.NoteDao">
    <resultMap id="noteResultMap" type="com.xc.entity.Note">
        <result property="id" column="id"/>
        <result property="dirId" column="dir_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="tags" column="tags" jdbcType="LONGVARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <insert id="insert" parameterType="com.xc.entity.Note">
      insert into note(id,title,content,dir_id,tags,create_time,modify_time,type,status,user_id)
      values (
        #{id},#{title},#{content},#{dirId},#{tags,jdbcType=LONGVARCHAR},#{createTime,jdbcType=TIMESTAMP},#{modifyTime,jdbcType=TIMESTAMP},#{type},#{status},#{userId}
      )
    </insert>
    <update id="update" parameterType="com.xc.entity.Note">
        UPDATE note
        <set>
            <if test="dirId != null">
                dir_id = #{dirId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=LONGVARCHAR},
            </if>

            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime, jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectNoteById" resultMap="noteResultMap">
      select * from note
      where id = #{id}
    </select>


    <select id="countNotesByCriterions" parameterType="com.xc.util.Criterions"
            resultType="java.lang.Integer">
        select count(*) from note
        <if test="_parameter != null">
            <include refid="com.xc.dao.mapper.base.Common_Where_Clause"/>
        </if>
    </select>

    <select id="selectNotesByCriterions" parameterType="java.util.HashMap" resultMap="noteResultMap">
        select * from note
        <if test="_parameter != null">
            <include refid="com.xc.dao.mapper.base.Common_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <choose>
            <when test="limit != null and start != null">limit #{start},#{limit}</when>
            <when test="limit != null and start == null">limit #{limit}</when>
        </choose>
    </select>

    <delete id="clear">
        delete from note where id = #{id}
    </delete>

    <update id="delete">
        update note set status = 2 where id = #{id}
    </update>

    <delete id="deleteByDirId">
        delete from note where dir_id = #{dirId}
    </delete>

    <select id="selectNotesByDirId" resultMap="noteResultMap">
        select * from note where dir_id = #{dirId}
    </select>

    <select id="selectNotesByStatus" resultMap="noteResultMap">
        select * from note where status = #{status}
        <if test="userId == null">
            and user_id is null
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </select>
</mapper>